<div class = "container text-center">
    <div class="row">
        <label for="filerusername" class="col-12 col-sm-2 col-form-label">Enter Github ID</label>
        <form class="form-inline mb-4 text-center active-cyan-3 active-cyan-4">
            <div class="col-8">
                <input type="text" class=" form-control form-control-sm ml-3 w-75" rows="4" placeholder="Enter a Github Username" name="searchbar" [(ngModel)]="searchbar">
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-md btn-primary" (click)="search()" ></button>
            </div>
        </form>
    </div>

    <!-- displaying contents -->
    <!-- <div class="container">
        <div class="row">
            <div class="col md-6">
                <div class="card">
                    <div *ngFor github of githubs></div>
                </div>
            </div>
            <div class="col md-6">
                
            </div>
        </div>
    </div> -->

</div>


